* { /* Ignore warnings */
    -main-cm: #770737;
    -main-c1: #630330;
    -main-c2: #953553;
    -main-c3: #800020;
    -main-c4: #D97997;
    -secondary-cm: #FF9900;
    -secondary-c1: #FFA73B;
    -secondary-c3: #F3622D;
}

